<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AdrianAdamiakSolutions" value="https://pkgs.dev.azure.com/adrianadamiaksolutions/_packaging/adrianadamiaksolutions%40Release/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
 <packageSourceCredentials>
    <AdrianAdamiakSolutions>
      <add key="Username" value="exi6gagruybe6fibbhgq6vcj56d3v2vt4764fbsydttxbqdrlkda" />
      <add key="ClearTextPassword" value="exi6gagruybe6fibbhgq6vcj56d3v2vt4764fbsydttxbqdrlkda" />
    </AdrianAdamiakSolutions>
  </packageSourceCredentials>

</configuration>
